
.DS_Store
.git
.gitignore
node_modules
dist
test
coverage
backend/node_modules
apps/web/node_modules
.env
.env.local
.env.production
.DS_Store
**/.DS_Store
.git
node_modules
.docker_tmp
.gcloud_config
